# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Ibrahim-Haroon will be requested for review when someone 
# opens a pull request.
*       @Ibrahim-Haroon

# Kotlin files
# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.kt    @Ibrahim-Haroon @kt-owner

# Kotlin script files
# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.kts   @Ibrahim-Haroon

# Shell scripts
# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.sh    @Ibrahim-Haroon

# PowerShell scripts
# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.ps1   @Ibrahim-Haroon

# TOML configuration files
# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.toml  @Ibrahim-Haroon

# YAML files
# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.yaml  @Ibrahim-Haroon

# Markdown documents
# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.md    @Ibrahim-Haroon
